-# %h1 Home#show
-# %p Find me in app/views/home/show.html.haml
-# .row
-#   .col-xs-3
-#   .col-xs-6
-# = image_tag('top.jpg',:class => "img-responsive")

#myCarousel.carousel.slide{ "data-ride" => "carousel", "data-interval" => "10000" }
  %ol.carousel-indicators
    %li.active{ "data-target" => "myCarousel", "data-slide-to" => "0", "class" => "img-responsive" }
    %li{ "data-target" => "myCarousel", "data-slide-to" => "1", "class" => "img-responsive" }
    %li{ "data-target" => "myCarousel", "data-slide-to" => "2", "class" => "img-responsive" }
    %li{ "data-target" => "myCarousel", "data-slide-to" => "3", "class" => "img-responsive" }
  .carousel-inner
    .item.active
      = image_tag('home/top_001.jpg', :alt => "FirstSlide")
    .item
      = image_tag ("home/top_002.jpg")
    .item
      = image_tag('home/top_003.jpg')
    .item
      = image_tag('home/top_004.jpg')
  %a.left.carousel-control{href: "#myCarousel", role: "button", "data-slide" => "prev" }
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{href: "#myCarousel", role: "button", "data-slide" => "next" }
    %span.glyphicon.glyphicon-chevron-right
  -#
%h1.text-center
  .topic_title &nbsp;Information&nbsp;
.article
  %h4
    %u.date 2015年1月1日
  %h5.article チョークアート製作所 COCOから ～infinity～のホームページにいらしてくださいましてありがとうございます。
  %h5.article 元々絵は描くよりも見るほうが好きでした。
  %h5.article というよりも、絵は難しくて私にはムリと思っていました。
  %h5.article そんな私がチョークアートに出逢ったことで、180度考えが変わったのです。
  %h5.article 今まで気づかなかった光の加減や、色彩の微妙な違い。
  %h5.article すべてが新鮮でした。
  %h5.article 難しいというよりも、その微妙な色の変化を見つけて、描いていくことで一つの作品になっていくことに感動しました。
  %h5.article このページでは少しずつですが、作品を載せていく予定です。
  %h5.article ご注文も承りますので、お気軽にお問い合わせいただければなと思います。
  %h5.article SATOMI
  -# .col-xs-3
