%h3 入力いただいた項目を確認して送信ボタンを押してください
=form_for( @order, url:order_path, :html => {:class => "form-horizontal"}) do |f|
  .form-group
    =f.label :name, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      .form-inline
        =@order.last_name
        =@order.first_name
  .form-group
    =f.label :name_kana, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      .form-inline
        =@order.last_name_kana
        =@order.first_name_kana
  .form-group
    =f.label :mail, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      =@order.mail
  .form-group
    =f.label :phone_number, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      =@order.phone_number
  .form-group
    =f.label :cellphone_number, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      =@order.cellphone_number
  .form-group
    =f.label :residence, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      .form-inline
        =@order.residence_zip_code
        =@order.residence
  .form-group
    =f.label :mailing_address, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      .form-inline
        =@order.mailing_zip_code
        =@order.mailing_address
  .form-group
    =f.label :receipt_address, class: "control-label col-sm-3 receipt_address"
    .col-sm-7.preffered_date_position
      =@order.receipt_address
  .form-group
    =f.label :receipt_proviso, class: "control-label col-sm-3 receipt_proviso"
    .col-sm-7.preffered_date_position
      =@order.receipt_proviso
  .form-group
    - if @order.other_purpose == ""
      .field
        =f.hidden_field :purpose
        =f.label :purpose, class: "control-label col-sm-3"
        .col-sm-7.preffered_date_position
          =t('activerecord.attributes.order.' + @order.purpose)
        -# =@order.purpose
    - else
      .field
        =f.hidden_field :purpose, value: "other"
        =f.hidden_field :other_purpose
        =f.label :purpose, class: "control-label col-sm-3"
        .col-sm-7.preffered_date_position
          =@order.other_purpose
  .form-group
    =f.label :preffered_date, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      =@order.preffered_date
  .form-group
    - if @order.size == 'other'
      =f.hidden_field :size, value: "other"
      =f.hidden_field :length
      =f.hidden_field :width
      =f.label :size, class: "control-label col-sm-3"
      .form-inline
        .col-sm-7.preffered_date_position
          =@order.length
          ×
          =@order.width
    - else
      =f.hidden_field :size
      =f.label :size, class: "control-label col-sm-3"
      .col-sm-7.preffered_date_position
        =@order.size
  .form-group
    =f.label :preffered_design_number, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      =@order.preffered_design_number
  .form-group
    =f.label :message, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      =@order.message
  -#
  -# .field
  -#   =f.hidden_field :last_name
  -#   =f.label :last_name
  -#   =@order.last_name
  -#
  -#   =f.hidden_field :first_name
  -#   =f.label :first_name
  -#   =@order.first_name
  -#
  -# .field
  -#   =f.hidden_field :last_name_kana
  -#   =f.label :last_name_kana
  -#   =@order.last_name_kana
  -#   
  -#   =f.hidden_field :first_name_kana
  -#   =f.label :first_name_kana
  -#   =@order.first_name_kana
  -#
  -# .field
  -#   =f.hidden_field :mail
  -#   =f.label :mail
  -#   =@order.mail
  -#
  -# .field
  -#   =f.hidden_field :phone_number
  -#   =f.label :phone_number
  -#   =@order.phone_number
  -#
  -#   =f.hidden_field :cellphone_number
  -#   =f.label :cellphone_number
  -#   =@order.cellphone_number
  -#   
  -# .field
  -#   =f.hidden_field :residence_zip_code
  -#   =f.label :residence_zip_code
  -#   =@order.residence_zip_code
  -#
  -# .field
  -#   =f.hidden_field :residence
  -#   =f.label :residence
  -#   =@order.residence
  -#
  -# .field
  -#   =f.hidden_field :mailing_zip_code
  -#   =f.label :mailing_zip_code
  -#   =@order.mailing_zip_code
  -#
  -# .field
  -#   =f.hidden_field :mailing_address
  -#   =f.label :mailing_address
  -#   =@order.mailing_address
  -#
  -# - if @order.receipt_enabled == true 
  -#   .field
  -#     =f.hidden_field :receipt_enabled
  -#     =f.label :receipt_enabled
  -#     ="あり"
  -#   .field
  -#     =f.hidden_field :receipt_address
  -#     =f.label :receipt_address
  -#     =@order.receipt_address
  -#   .field
  -#     =f.hidden_field :receipt_proviso
  -#     =f.label :receipt_proviso
  -#     =@order.receipt_proviso
  -# - else
  -#   .field
  -#     =f.hidden_field :receipt_enabled
  -#     =f.label :receipt_enabled
  -#     ="なし"
  -#
  -# - if @order.other_purpose == ""
  -#   .field
  -#     =f.hidden_field :purpose
  -#     =f.label :purpose
  -#     =t('activerecord.attributes.order.' + @order.purpose)
  -#     -# =@order.purpose
  -# - else
  -#   .field
  -#     =f.hidden_field :purpose, value: "other"
  -#     =f.hidden_field :other_purpose
  -#     =f.label :purpose
  -#     =@order.other_purpose
  -#
  -# .field
  -#   =f.hidden_field :preffered_date
  -#   =f.label :preffered_date
  -#   =@order.preffered_date
  -#
  -# .field
  -#   =f.hidden_field :size
  -#   =f.label :size
  -#   - unless @order.size == "other"
  -#     =@order.size
  -#   - else
  -#     %span
  -#     =@order.length
  -#     (cm) ×
  -#     =@order.width
  -#     (cm)
  -#
  -# .field
  -#   =f.hidden_field :message
  -#   =f.label :message
  -#   =@order.message
  -#
  =f.submit '送信', :class => 'btn btn-primary'

= debug(params) if Rails.env.development?
