- flash.each do |key, value|
  %div{class: "alert alert-#{key}"}= value
%h1.topic_title.text-center Order
%h3 下記項目を入力して確認ボタンを押してください
=form_for(@order, url:orders_confirm_path, :html => {:class => "form-horizontal"}) do |f|
  .form-group
    =f.label :name, class: "control-label col-sm-3"
    .col-sm-7.form-border
      .form-inline
        =f.text_field :last_name, class: "form-control", placeholder: "姓", size:"26"
        =f.text_field :first_name, class: "form-control", placeholder: "名", size:"26"
  .form-group
    =f.label :name_kana, class: "control-label col-sm-3"
    .col-sm-7.form-border
      .form-inline
        =f.text_field :last_name_kana, class: "form-control", placeholder: "セイ", size: '26'
        =f.text_field :first_name_kana, class: "form-control", placeholder: "メイ", size: '26'
  .form-group
    =f.label :mail, class: "control-label col-sm-3"
    .col-sm-7.form-border
      =f.text_field :mail, class: "form-control", placeholder: "coco@mugen.com"
  .form-group
    =f.label :phone_number, class: "control-label col-sm-3"
    .col-sm-7.form-border
      =f.text_field :phone_number, class: "form-control", placeholder: "03-3000-1234 または 090-0123-4567", size:"26"
  .form-group
    =f.label :residence, class: "control-label col-sm-3"
    .col-sm-7.form-border
      .form-inline
        =f.text_field :residence_zip_code, class: "form-control", placeholder: "〒", size:7
        =f.text_field :residence, class: "form-control", placeholder: "東京都新宿区青葉町1-1-1", size:45
  .form-group
    =f.label :mailing_address, class: "control-label col-sm-3"
    .col-sm-7.form-border
      .form-inline
        =f.text_field :mailing_zip_code, class: "form-control", placeholder: "〒", size: "7"
        =f.text_field :mailing_address, class: "form-control", placeholder: "東京都豊島区若葉町1-1-1", size: "45"
  .form-group
    =f.label :receipt_enabled ,class: "control-label col-sm-3"
    .form-border.col-sm-7{style: "vertical-align: middle"}
      .form-inline
        .radio-inline
          =f.radio_button(:receipt_enabled, :true, checked: true, id: "enabled", onclick: "chkreceipt(this)")
          =f.label :enabled
        .radio-inline
          =f.radio_button(:receipt_enabled, :false, id:"disenabled", onclick: "chkreceipt(this)")
          =f.label :disenabled
      =f.text_field :receipt_address, class: "form-control receipt_address", placeholder: "宛名"
      =f.text_field :receipt_proviso, class: "form-control receipt_proviso", placeholder: "但書 (例:チョークアート)"
  .form-group
    =f.label :purpose, class: "control-label col-sm-3"
    .form-border.col-sm-9{style: "vertical-align: middle"}
      .form-inline
        .radio-inline
          =f.radio_button(:purpose, :signboard, checked: true, id: "signboard", onclick: "chkradio(this)")
          =f.label :signboard
        .radio-inline
          =f.radio_button(:purpose, :interior, id:"interior", onclick: "chkradio(this)")
          =f.label :interior
        .radio-inline
          =f.radio_button(:purpose, :wedding, id:"wedding", onclick: "chkradio(this)")
          =f.label :wedding
        .radio-inline
          =f.radio_button(:purpose, :other, id:"other", onclick: "chkradio(this)")
          =f.label :other
        =f.text_field :other_purpose, id: "other_purpose", class: "form-control"
  .form-group
    =f.label :preffered_date, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position.form-border
      = f.date_select :preffered_date, {class: "form-control", start_year: Time.now.year, default: Date.today + 30}, onchange: "chkpreffered_date(this)"
      %span#preffered_date_label.label.label-danger 最低３０日以降を選択してください
  .form-group
    =f.label :size, class: "control-label col-sm-3"
    -# .col-sm-7.preffered_date_position.form-border
    .form-border.col-sm-9.preffered_date_position{style: "vertical-align: middle"}
      .form-inline
        =f.select :size, {A5: "A5", A4: "A4", A3: "A3", A2: "A2", A1: "A1", その他: "other"}, {}, {onchange: "chksize(this)"}
        %span#other_size
          &nbsp;
          =f.text_field :length, class: "form-control input-sm", placeholder: "25", size: '3', placeholder: "縦(cm)"
          ×
          =f.text_field :width, class: "form-control input-sm", placeholder: "25", size: '3', placeholder: "横(cm)"
  .form-group
    =f.label :remarks, class: "control-label col-sm-3"
    .col-sm-7.form-border
      = f.text_area :remarks, class: "form-control", placeholder: "その他ご希望、ご質問、イメージ等あればご記入ください"
  .col-sm-offset-3
    .btn-order
      =f.submit '確認', :class => 'btn btn-primary'
