%h3 入力いただいた項目を確認して送信ボタンを押してください
=form_for( @contact, url:contacts_thanks_path, :html => {:class => "form-horizontal"}) do |f|
  .form-group
    =f.hidden_field :name
    =f.label :name, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      =@contact.name
  .form-group
    =f.hidden_field :mail
    =f.label :mail, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      =@contact.mail
  .form-group
    =f.hidden_field :content
    =f.label :content, class: "control-label col-sm-3"
    .col-sm-7.preffered_date_position
      =@contact.content
  =f.submit '送信', :class => 'btn btn-primary'

= debug(params) if Rails.env.development?
