%h1.topic_title.text-center Profile
%br
%h3 Satomi 
%br
%h5 製菓学校卒業後、ケーキ屋、レストラン、製菓学校に勤務する。
%h5 パティシエールの傍ら、店の看板を描きたいと思いチョークアートに出会う。
%h5 町田美佐先生に師事し、2013年プロコースを卒業。現在に至る
%br
%br
%h1.topic_title.text-center ChalkArt
