%h1.topic_title.text-center Q&A
.qas
  .qa
    %h4.question Q1. 納品までどのくらいかかりますか？
    %h4.answer A1. 打ち合わせを含めて、1か月以上みてもらっています。
    %h4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ご注文が重なってしまうことがありますので、余裕をもってご注文ください。)
  .qa
    %h4.question Q2. 下書きは描き直していただけますか？
    %h4.answer A2. 何度でも無料で描き直しいたします。
  .qa
    %h4.question Q3. 完成した絵は修正できますか？
    %h4.answer A3. 仕上げにコーティングを施しますので、修正は承っておりません。
  .qa
    %h4.question Q4. 額縁は付いていますか？
    %h4.answer A4. 基本的には付いておりません。ご希望があれば別途お付けすることも可能です。
  .qa
    %h4.question Q5. チョークはどんなものですか？
    %h4.answer A5. オイルパステルというクレヨンに似た素材です。触れるとにじんだり服についたりしますので仕上げにコーティングいたします。
  .qa
    %h4.question Q6. カード払いは出来ますか？
    %h4.answer A6. 申し訳ございませんが、お振込みのみとさせていただきます。
  .qa
    %h4.question Q7. 納品はどのように行われますか？
    %h4.answer A7. 基本的には、郵送させていただきます。送料はこちらで負担いたします。
