%h1.topic_title.text-center Q&A
%br
%br
%h4
  %b Q1. 納品までどのくらいかかりますか？
%h4 A1. 打ち合わせを含めて、1か月以上みてもらっています。
%h4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ご注文が重なってしまうことがありますので、余裕をもってご注文ください。)
%br
%h4
  %b Q2. 下書きは描き直していただけますか？
%h4 A2. 何度でも無料で描き直しいたします。
%br
%h4
  %b Q3. 完成した絵は修正できますか？
%h4 A3. 仕上げにコーティングを施しますので、修正は承っておりません。
%br
%h4
  %b Q4. 額縁は付いていますか？
%h4 A4. 基本的には付いておりません。ご希望があれば別途お付けすることも可能です。
%br
%h4
  %b Q5. チョークはどんなものですか？
%h4 A5. オイルパステルというクレヨンに似た素材です。触れるとにじんだり服についたりしますので仕上げにコーティングいたします。
%br
%h4
  %b Q6. カード払いは出来ますか？
%h4 A6. 申し訳ございませんが、お振込みのみとさせていただきます。
%br
%h4
  %b Q7. 納品はどのように行われますか？
%h4 A7. 基本的には、郵送させていただきます。送料はこちらで負担いたします。
