%h1.topic_title.text-center Q&A
%br
%br
%h5 Q1. 納品までどのくらいかかりますか？
%h5 A1. 打ち合わせを含めて、1か月以上みてもらっています。
%h5 (ご注文が重なってしまうことがありますので、余裕をもってご注文ください。)
%br
%h5 Q2. 下書きは描き直していただけますか？
%h5 A2. 何度でも無料で描き直しいたします。
%br
%h5 Q3. 完成した絵は修正できますか？
%h5 A3. 仕上げにコーティングを施しますので、修正は承っておりません。
%br
%h5 Q4. 額縁は付いていますか？
%h5 A4. 基本的には付いておりません。ご希望があれば別途お付けすることも可能です。
%br
%h5 Q5. チョークはどんなものですか？
%h5 A5. オイルパステルというクレヨンに似た素材です。触れるとにじんだり服についたりしますので仕上げにコーティングいたします。
%br
%h5 Q6. カード払いは出来ますか？
%h5 A6. 申し訳ございませんが、お振込みのみとさせていただきます。
%br
%h5 Q7. 納品はどのように行われますか？
%h5 A7. 基本的には、郵送させていただきます。送料はこちらで負担いたします。
