// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile{
  margin-bottom: 25px;
}

.name-plate{
  margin-top: 15px;
  margin-bottom: 20px;
}

.history{
  margin-bottom: 25px;
}

.self-portrait{
  margin-top: 15px;
  border-radius: 20px;
}

.color-sample{
  background-color: black;
}

.color-sample-white{
  background-color: white;
}
