#footer
  .footer_content
    = image_tag('logo.jpg', class:"logo", height: "50px")
    = link_to image_tag("facebook.png", class: "facebook_button pull-right", height: "20px"), "https://ja-jp.facebook.com/cocomugen"
    .copyright
      Copyright @ CoCoからInfinity All rights reserved.
